<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>My Blog</h1>
    <p>Hi! Welcome to my little corner of the internet. My name is Tyler. Here, I'll be documenting my projects and on occasion screaming into the void.</p>
    <p>To learn a bit more about me why don't you check out one of the following links.</p>
    <ul>
        <li><a href="toc">Table of Contents</a></li>
        <li><a href="https://github.com/tylerBrittain42/">My Github</a></li>
        <li><a href="https://www.linkedin.com/in/tyler-j-brittain/">My Linkedin</a></li>
    </ul>

    
</body>
</html>